#frame
{
    width: 393px;
    height: 852px;
    background-color: #AF2C27;
    position: relative;
}
header
{
    width: 393px;
    height: 66px;
    background-color: #ffffff;
}
header img
{
    width: -webkit-fill-available;
}
main img
{
    width: -webkit-fill-available;
    position: absolute;
    bottom: 40%;
    right: 0;
    left: 0;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer indholdet */
    text-align: center;
  }
  
  .text {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin: auto; /* Centrerer horisontalt */
    margin-top: 50px; /* Justér denne værdi for at få lige stor afstand */
    margin-bottom: 50px;
  }
footer img
{
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.icon  
{
    width: 60%;
    position: absolute;
    bottom: 10%;
    right: 50%;
    left: 20%;
    max-width: 100%;  /* Sikrer, at billedet ikke bliver større end sin container */
    height: auto;
}